
.navbar__container {
    display: flex;
    justify-content: center;
}

.navbar {
    position: fixed;
    bottom: 10px;
    background-color: #ffffff7c;
    backdrop-filter: blur(4px);
    width: 300px;
    border-radius: 26px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.navbar__botoes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 14px;
}


.navbar__botoes__item div {
    width: 10px;
    height: 10px;
    background-color: #ee53ed;
    border-radius: 50%;
    margin-top: 5px;
}

.botao-agenda {
    display: flex;
    flex-direction: column;
    align-items: center;
}
