
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cor-fonte-principal: #807C8A;
    --cor-de-fundo: #2A4480;
    --cor-fonte-destaque: #217bcf;
    --rosa: #EE53ED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

.hidden {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    margin: 50px 14px 14px 14px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
    color: var(--cor-fonte-principal);
}

form {
    gap: 10px;
    width: 100%;
    padding: 0px 20px;
}

input {
    margin: 0px 20px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #B8BCFF;
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
}

.login__formulario p {
    align-self: flex-end;
    font-size: 16px;
    color: var(--cor-fonte-destaque);
    margin-bottom: 24px;
}

.login__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-submit {
    background-color: #fc00fc;
    max-width: min-content;
    border: none;
    padding: 15px 70px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.button-loading {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.637);
    width: 100vw;
    height: 100vh;
}

.button-loading p {
    font-size: 24px;
    color: var(--rosa);
    font-weight: 600;
    position: absolute; bottom: 30vh; left: 50%;
    transform: translatex(-45%);
}

#animacao {
    display: block;
    width: 150px;
    height: 150px;
}
