
:root {
  --margin-top-container-principal: 80px;
  --cor-de-fundo: #2C467F;
}

#idPagina {
  display: none;
}

body {
  background-color: #2C467F;
  margin: 0; /* Remova as margens padrão do body */
  padding: 0; /* Remova o preenchimento padrão do body */
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#animacao {
  width: 150px; height: 150px; position: relative;
  left: 50%;
  transform: translatex(-50%);
}

.monitoramento__container {
  background-color: white;
  margin-top: var(--margin-top-container-principal);
  width: 100vw;
  min-height: calc(100vh - var(--margin-top-container-principal) - 30px);
  border-radius: 40px 40px 0 0;
  padding-top: 30px;
}

.monitoramento__titulo{
  font-size: 24px;
  color: #ee53ed;
  margin: 16px 0 0 0;
  font-weight: 700;
}

.monitoramento__data-hora {
  font-size: 14px;
  margin: 10px 0 9px 0;
  font-weight: 300;
}

.monitoramento__webviews {
  padding-bottom: 50px;
}

.webviews__item iframe {
  margin-top: 24px;
}

.arrow-left {
  position: absolute;
  top: 40px;
  left: 25px;
}

.navbar__container {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  bottom: 10px;
  background-color: #ffffff7c;
  backdrop-filter: blur(4px);
  width: 300px;
  border-radius: 26px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.navbar__botoes {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 14px;
}

.hidden {
  display: none;
}
